[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail = "*"
flask-wtf = "*"
email-validator = "*"
freezegun = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
pymysql = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
